.p-game-step2{
  .game-intro{
    .heading-small{
      margin-top: 45vw;
      @include PC{
        margin-top: 350px;
      }
    }
    &-content{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 98%;
      margin: 20vw auto 0;
      @include PC{
        margin-top: 200px;
      }
      .img-prize-special{
        margin-top: -26vw;
        @include PC{
          margin-top: -100px;
        }
      }
    }
  }
  .game-animation{
    display: none;
    height: 100%;
    flex: 1;
    flex-direction: column;
    &.open{
      display: flex;
    }
    .shake-tree-frame{
      margin-top: 66vw;
      img{
        opacity: 0;
        transform: scale(1.4);
        margin-left: -4vw;
        &.active{
          opacity: 1;
        }
      }
    }
  }
  .game-result{
    height: 100%;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
    z-index: 1;
    display: none;
    overflow: hidden;
    @include SP{
      gap: 10px;
    }
    &:before{
      content:'';
      background: rgba(0, 0, 0, 0.70);
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100vw;
      height: 100vh;
    }
    .text{
      padding: 0 10px;
      text-align: center;
      font-size: 13px;
      font-style: italic;
      font-weight: 800;
      line-height: 1.4;
      max-width: 95%;
      margin: 10px auto 0;
      @include PC{
        font-size: 20px;
      }
    }
    .heading-large{
      max-width: 80%;
      margin: 0 auto;
    }
    .prize,.heading{
      text-align: center;
    }
    .button{
      box-shadow: 0px 4px 4px 0px rgba(241, 226, 129, 0.25);
    }
  }
}
