.p-home{
  .heading{
    margin-top: 61vw;
    @include PC{
      margin-top: 70%;
    }
  }
  .heading-2{
    margin: 0.1rem auto;
    @include PC{
      margin: 22px auto;
    }
  }
}
.list-supermarket{
  background: url(../images/v4/frame-supermarket.png) no-repeat top center/ 100% auto;
  text-align: center;
  padding: 5% 3% 0%;
  aspect-ratio: 704/817;
  margin: 5vw 3vw;
  @include PC{
    margin: 3%;
    aspect-ratio: 704/817;
  }
  li{
    display: inline-block;
    margin: 0 3.1vw;
    @include PC{
      margin: 0 10px;
    }
    img{
      height: 12vw;
      width: auto;
      @include PC{
        height: 10%;
      }
    }
  }
}
